<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add connectionString="server = .; database = siemensdb; user id=sa; password = sqlserver2016" name = "siemensDbConStr"/>

    <!--<add connectionString="server=.\sqlexpress;database=siemensdb;user id=sa;password=sqlserver2016" name="siemensDbConStr"/>-->
    <!--<add connectionString="server=.;database=siemensdb;integrated security=true" name="siemensDbConStr"/>-->
    <!-- 'server' or 'data source' -->
    <!-- 'database' or 'initial catalog'-->
    <!-- 'user id' or 'uid'-->
    <!-- 'password' or 'pwd'-->
    <!-- 'integrated security=true' or 'integrated security=sspi' or 'persistent security=true' -->

  </connectionStrings>
</configuration>