<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=joydip-pc;User ID=sa;Password=sqlserver2016;database=siemensdb" name="siemensDbConStr"/>
  </connectionStrings>
  <appSettings>
    <add key="GET_DEPARTMENTS_QUERY" value="GetDepartments"/>
    <add key="GET_DEPARTMENT_EMPLOYEES_QUERY" value="GetEmployeesFromADepartment"/>
    <add key="DELETE_EMPLOYEE_QUERY" value="DeleteEmployeeRecord"/>
    <add key="UPDATE_EMPLOYEE_QUERY" value="UpdateEmployeeRecord"/>
    <add key="ADD_EMPLOYEE_QUERY" value="InsertEmployeeRecord"/>
  </appSettings>
</configuration>