<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=joydip-pc;User ID=sa;Password=sqlserver2016;database=siemensdb" name="siemensDbConStr"/>
  </connectionStrings>

  <appSettings>
    <add key="INSERT_QUERY" value="InsertEmployeeRecord"/>
  </appSettings>
</configuration>